# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
backend/.env

# ChromaDB
chroma_db/

# Node
node_modules/
dist/
build/
*.log
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Neo4j
neo4j_data/
neo4j_logs/
